<h1>Help</h1>
<hr>
<h2>Quick Start</h2>
<h3>Embedding</h3>
<ol>
    <li>Select the image you want to embed data in.</li>
    <li>Add the data to be embedded.</li>
    <li>Enter a password for data encryption.</li>
</ol>
<h3>Extraction</h3>
<ol>
    <li>Select the image you want to extract data from.</li>
    <li>Enter the password used for data encryption.</li>
</ol>
<hr>
<h2>Tips & Tricks</h2>
<ul>
    <li>Larger images can hold more data.</li>
    <li>Lossless images (e.g. .png) can hold more data.</li>
</ul>
<hr>
<p>For more information see <a href="{repository}">here</a>.</p>